.app-header {
	.app-name-container {
		margin-bottom: 2.25rem;

		.conf-logo {
			width: 1.5rem;
		}
		.conf-name {
			font-size: 1.45rem;
			font-weight: 700;
			color: var(--clr-white);
		}
	}
	.conf-heading {
		margin-bottom: 0.15rem;
		padding-inline: 0.5rem;
		font-size: 1.85rem;
		font-weight: 700;
		color: var(--clr-white);
	}
	.conf-text {
		margin-bottom: 1rem;
		font-size: 1.25rem;
		color: var(--clr-neutral-300);
		line-height: 25px;
	}
}
