.app-header {
    .app-name-container {
        margin-bottom: 1.5rem;

        .conf-logo {
            width: 1.5rem;
        }
        .conf-name {
            font-size: 1.45rem;
            font-weight: 700;
            color: var(--clr-white);
        }
    }
    
}