body {
	background-image: url('/dist/images/background-mobile.png');
	background-size: cover;
}

.container {
	background-image: url('/dist/images/pattern-lines.svg');
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 1.95rem;
}
