.ticket {
	background-image: url('/dist/images/pattern-ticket.svg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 160px;
	width: 350px;

	.ticket-code {
		top: 50%;
		right: 0.25rem;
		transform: translateY(-50%) rotate(90deg);
		font-size: 1.25rem;
		color: var(--clr-neutral-500);
	}
}
